<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>
<% @resource %>
<%= @resource %>
<p><%= link_to 'Confirm my account', api_user_confirmation_url(@resource, confirmation_token: @token) %></p>
<p><%= link_to t('.action'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>

<p><%= t(:welcome).capitalize + ' ' + @email %>!</p>

<p><%= t '.instruction' %> </p>

<p><%= link_to t('.action'), api_user_confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>

<p><%= link_to t('.action'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>